.svn
.DS_Store
*.pyc
*.egg-info
*.egg
*.pt.cache
.Python
*.mo
*.o
*.lo
*.la
.*.rej
*.rej
.*~
*~
#*#
.#*
.~lock.*#
.VimballRecord
.netrwhist
tags
en.utf-8.add.spl
svn-commit.tmp
.AppleDouble
*.pt.py
__pycache__/
openstack-ansible/roles/
.direnv
.config/iterm2
.config/velero
.config/gcloud
.config/tanzu
.vim/plug
