[core]
  editor = nvim
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	whitespace = red reverse
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
  st = status
  stnv = status . -- ':!vendor'
  ci = commit -vs
  br = branch
  co = checkout
  df = diff
  dfs = !git --no-pager diff --stat
  l = log --online
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lga = log --graph --pretty=format:'%Cred%h%Creset %Cblue%an%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --branches --remotes
  branches = branch -a
  last = log -1
  remotes = remote -v
  furb = "!echo \"Fetch upstream\"; git fetch upstream; echo \"Rebase\"; git rebase upstream/$(git rev-parse --abbrev-ref HEAD)"
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  pom = push origin main
[user]
  email = nolan@nbrubaker.com
  name = Nolan Brubaker
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCTtu0XiK0Pxqs1L1wxLyBTn5l62JCvS38As2RVKaNCygLL0ApMhXurkJ3n1vDuy3b8VZYeVc3210+jgsj6OqaHZ5kcOJPtjTlCsQKj+Nk8w5kMXJasYJQgxoGHxxNM9ewWmCCgYJ2PacMysIhF5XoqnOKd1N95tJd9R8a1LFmhmn1opcucrce4ch8x01SfK/FNDF2Lv/NeYEECMtqBzG2JASOW0fgyu3rb24iXIx5jfWPshoeCOpHBSCLTj7KpiZR9BMEhpNV/RhXLEaffv6Zoyf0MzMPVYhVrOiVYaLopqHHVwHSO5fRMxftK2KqJlGzoaCzOj5HQjZtmlZmMQfKt
[merge]
  tool = vimdiff
  renamelimit = 15345
[diff]
  mnemonicprefix = true
  renames = copies
[branch]
  autosetupmerge = true
[push]
  default = simple
[format]
  signOff = true
[rebase]
  autosquash = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
  gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "work:openshift/"]
  insteadOf = https://github.com/openshift/
  insteadOf = ssh://git@github.com/openshift/
[url "work:kubernetes/"]
  insteadOf = https://github.com/kubernetes/
  insteadOf = ssh://git@github.com/kubernetes/
[url "work:kubernetes-sigs/"]
  insteadOf = https://github.com/kubernetes-sigs/
  insteadOf = ssh://git@github.com/kubernetes-sigs/
[includeIf "gitdir:~/projects/work/"]
  path = ~/.dotfiles/gitconfig.work
