[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/netrw.vim"]
	path = .vim/bundle/netrw.vim
	url = https://github.com/vim-scripts/netrw.vim
	branch = master
